/target
bin/
src/lib.rs
log.txt

configs/farm_entity_plans/*
!configs/farm_entity_plans/default_line.json
!configs/farm_entity_plans/default_point.json

configs/batteries/*
!configs/batteries/default

configs/movement_configs/*
!configs/movement_configs/default_romba.json
!configs/movement_configs/consumption

configs/agent_configs/*
!configs/agent_configs/default.json

configs/field_configs/*
!configs/field_configs/default.json
!configs/field_configs/default_only_line.json
!configs/field_configs/default_only_point.json

configs/scene_configs/*
!configs/scene_configs/default.json
!configs/scene_configs/vineyard_scene

performance_matrix/*
!performance_matrix/default.json

viz/__pycache__/
results/**/*.pdf