/target
bin/
src/lib.rs
log.txt

configs/farm_entity_plans/*
!configs/farm_entity_plans/default_line.json
!configs/farm_entity_plans/default_point.json

configs/scene_configs/*
!configs/scene_configs/default.json
!configs/scene_configs/vineyard_scene

performance_matrix/*
!performance_matrix/default.json

__pycache__/
results/
experiments/